Repository AnastasiaR2/dirik-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:css, npm run lint:type && npm run lint:js, npm run:prettify, npm run lint:editor && npm run lint:fs

.lintstagedrc.yml:

# '*': npm run lint
'src/**/*.scss': npm run lint:css
'**/*.{ts,tsx}': npm run lint:type && npm run lint:js
'**/*.{ts,tsx,json,md,scss,html}': npm run:prettify
'*': npm run lint:editor && npm run lint:fs

dirik-19: Update configs
  .env.example
  .eslintrc
  .lintstagedrc.yml
  index.html
  package.json
  tsconfig.json
Due: npm run:prettify, npm run lint:editor && npm run lint:fs

dirik-19: Update project structure
  .github/CODEOWNERS
  .lintstagedrc.yml
  package-lock.json
  package.json
  src/app.tsx
  src/assets/styles/scaffolding.scss
  src/assets/styles/styles.scss
  src/components/routing/router-provider.tsx
  src/components/routing/routing.ts
  src/index.tsx
  src/libs/enums/app-route.enum.ts
  src/libs/enums/enums.ts
  src/libs/helpers/get-valid-class-names.helper.ts
  src/libs/helpers/helpers.ts
  src/pages/dashboard/dashboard.tsx
  src/views/navigation-menu/navigation-menu.tsx
  src/views/views.ts
Due: npm run lint:css, npm run lint:type && npm run lint:js, npm run:prettify, npm run lint:editor && npm run lint:fs

dirik-19: Add readme.md
  README.md
Due: npm run:prettify, npm run lint:editor && npm run lint:fs

Update project structure
  src/app.tsx
  src/common/enums/app-route.enum.ts
  src/common/enums/enums.ts
  src/common/helpers/get-valid-class-names.helper.ts
  src/common/helpers/helpers.ts
  src/components/components.ts
  src/components/navigation-menu/navigation-menu.tsx
  src/components/routing/routing.ts
  src/index.tsx
  src/routes/router-provider.tsx
  src/routes/routes.ts
Due: npm run lint:type && npm run lint:js, npm run:prettify, npm run lint:editor && npm run lint:fs

Move routing configuration to App component
  src/app.tsx
  src/common/enums/app-route.enum.ts
  src/components/components.ts
  src/components/navigation-menu/navigation-menu.tsx
  src/index.tsx
  src/pages/dashboard/dashboard.tsx
  src/routes/router-provider.tsx
  src/routes/routes.ts
Due: npm run lint:type && npm run lint:js, npm run:prettify, npm run lint:editor && npm run lint:fs

Update README.md
  README.md
Due: npm run:prettify, npm run lint:editor && npm run lint:fs

dirik-12: Implement navigation menu and Add common styles
  src/Components/cash-desk.tsx
  src/Components/changes.tsx
  src/Components/dashboard.tsx
  src/Components/layout-container.tsx
  src/Components/main-content.tsx
  src/Components/navigation.tsx
  src/Components/visits.tsx
  src/app.tsx
  src/assets/styles/loader.scss
  src/assets/styles/navigation-style.scss
  src/assets/styles/scaffolding.scss
  src/assets/styles/styles.scss
  src/assets/styles/variables.scss
  src/common/enums/app-route.enum.ts
  src/common/enums/enums.ts
  src/fonts/lato-v24-latin-100.svg
  src/fonts/lato-v24-latin-100.ttf
  src/fonts/lato-v24-latin-100.woff2
  src/fonts/lato-v24-latin-300.svg
  src/fonts/lato-v24-latin-300.ttf
  src/fonts/lato-v24-latin-300.woff2
  src/fonts/lato-v24-latin-700.svg
  src/fonts/lato-v24-latin-700.ttf
  src/fonts/lato-v24-latin-700.woff2
  src/fonts/lato-v24-latin-900.svg
  src/fonts/lato-v24-latin-900.ttf
  src/fonts/lato-v24-latin-900.woff2
  src/fonts/lato-v24-latin-regular.svg
  src/fonts/lato-v24-latin-regular.ttf
  src/fonts/lato-v24-latin-regular.woff2
  src/img/Logo.png
  src/img/icons/Changes.svg
  src/img/icons/Dashboard.svg
  src/img/icons/Visits.svg
  src/img/icons/cash-desk.svg
  src/img/icons/current-shift.svg
  src/index.tsx
Due: npm run lint:css, npm run lint:type && npm run lint:js, npm run:prettify, npm run lint:editor && npm run lint:fs
